#post-directory-module {
    z-index: 999;
}

    /* 
    background: #fff; # 白色  /维基/Table of Contents/  文章目录颜色  #0d1117 github
	color: #999;   # 灰色    /维基/Table of Contents/目录    github 颜色 #c9d1d9
    */
.post-directory {
    font-size: 14px;
    background: #0d1117;
    overflow: hidden;
    width: 300px;
    padding-bottom: 1em;
    border: 1px solid #efefef;
    color: #c9d1d9;
}

.post-directory ul,
.post-directory ol {
    padding-left: 1.5em;
    list-style: none;
}

.post-directory strong {
    border-left: 5px solid #999;
    padding: 2px 5px 2px 15px;
}

	/*
    color: #bababa;   灰色 /维基/Table of Contents/目录/文章节点 颜色
	*/
.post-directory a {
    text-decoration: none;
    color: #c9d1d9;
}

	/*
    color: #4183c4;   蓝色 /维基/Table of Contents/目录 颜色
	*/
.post-directory a:hover,
.post-directory a:active,
.post-directory a.on {
    color: #4183c4;
}

	/*
    color: #555;   灰色  /分类/文章名前圆点/ 颜色 蓝色#4183c4  
	*/
.posts-list {
    line-height: 2;
    color: #26a93c;
    list-style-type:disc;
}

	/*
    background: #bbb; 灰色  #FF1493 粉红
	*/
.posts-list::before {
/*    content: " ";*/
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    margin-left: -4px;
    background: #FF1493;
    border-radius: 50%;
    border: 1px solid #fff;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: background;
}

.posts-list-item {
    border-bottom: 1px dashed #ccc;
    margin: 10px;
    padding: 0;
}

	/*
	color: #666; 灰色	/分类/文章名/ 颜色 #4183c4蓝色 #c9d1d9 白色 github背景深色 #0d1117;
	*/
.posts-list-item a {
    font-size: 16px;
    font-weight: normal;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: inherit;
    color: #4183c4;
    background: #0d1117;
}

	/*
	color: #555; 灰色	/分类/文章/日期名 颜色 #c9d1d9 github白色
    background: #fff;   /分类/文章/日期名 背景色 白色 #0d1117 github色
	*/
.posts-list-meta {
    font-size: 12px;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: 2;
    color: #c9d1d9;
    background: #0d1117;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

	/*
    background-color: #fff; 白色  /分类/Blog Categories/分类背景色  #161b22 github偏绿色   #c9d1d9 github色 白色#0d1117;
    border: 1px solid #ddd;
	*/
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #161b22;
    border: 1px solid #ddd;
}


.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item>.badge {
    float: right;
}

	/*
    color: #fff; /分类/Blog Categories/分类/数字  #ffffff
	background-color: #0d1117; 新增灰色  无反应
	*/
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
